
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




    
    <!---->
    <!--font-awesome.min.css-->
    <link rel="stylesheet" href="assets/assets_Recipe/css_recipe/font-awesome.min.css">

    <!--linear icon css-->
    <link rel="stylesheet" href="assets/assets_Recipe/css_recipe/linearicons.css">

    <!--animate.css-->
    <link rel="stylesheet" href="assets/assets_Recipe/css_recipe/animate.css">

    <!--flaticon.css-->
    <link rel="stylesheet" href="assets/assets_Recipe/css_recipe/flaticon.css">

    <!--slick.css-->
    <link rel="stylesheet" href="assets/assets_Recipe/css_recipe/slick.css">
    <link rel="stylesheet" href="assets/assets_Recipe/css_recipe/slick-theme.css">

    <!--bootstrap.min.css-->
    <link rel="stylesheet" href="assets/assets_Recipe/css_recipe/bootstrap.min.css">

    <!-- bootsnav -->
    <link rel="stylesheet" href="assets/assets_Recipe/css_recipe/bootsnav.css">

    <!--style.css-->
    <link rel="stylesheet" href="assets/assets_Recipe/css_recipe/style.css">

    <!--responsive.css-->
    <link rel="stylesheet" href="assets/assets_Recipe/css_recipe/responsive.css">
    

    <!--explore start -->
    <section id="explore" class="explore">
        <div class="container">
            <div class="section-header">
                <h2>Việt Nam</h2>
                <p>Việt Nam sở hữu những món ăn ngon nhất thế giới</p>
            </div><!--/.section-header-->
            <div class="explore-content">
                <div class="row">
                    <!--Bắt đầu 1 món-->
                    <div class=" col-md-4 col-sm-6">
                        <div class="single-explore-item">
                            <div class="single-explore-img">

                                <!--đây là ảnh-->
                                <img src="assets/assets_Recipe/images/food/food1.jpg" alt="explore image">

                                <div class="single-explore-img-info">
                                    <div class="single-explore-image-icon-box">
                                        <ul>
                                            <li>
                                                <div class="single-explore-image-icon">
                                                    <i class="fa fa-arrows-alt"></i>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="single-explore-image-icon">
                                                    <i class="fa fa-bookmark-o"></i>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-explore-txt bg-theme-1">
                                <h1><a href="~/Recipes/Detail">Phở Bò</a></h1>
                                <div class="row"></div>
                                <div class="explore-person">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <p>
                                                1 món ăn nổi tiếng ở Việt Nam , sở hữu thứ nước "súp" ngon tuyệt đỉnh, khiến người ta mê ngay từ lần thử đầu....
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="explore-open-close-part">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <button class="close-btn" onclick="window.location.href='#'">Học Ngay</button>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="explore-map-icon">
                                                <a href="#"><i data-feather="message-circle"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Hết 1 món-->
                    <!--Bắt đầu 1 món-->
                    <div class=" col-md-4 col-sm-6">
                        <div class="single-explore-item">
                            <div class="single-explore-img">

                                <!--đây là ảnh-->
                                <img src="assets/assets_Recipe/images/food/food1.jpg" alt="explore image">

                                <div class="single-explore-img-info">
                                    <div class="single-explore-image-icon-box">
                                        <ul>
                                            <li>
                                                <div class="single-explore-image-icon">
                                                    <i class="fa fa-arrows-alt"></i>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="single-explore-image-icon">
                                                    <i class="fa fa-bookmark-o"></i>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-explore-txt bg-theme-1">
                                <h1><a href="#">Phở Bò</a></h1>
                                <div class="row"></div>
                                <div class="explore-person">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <p>
                                                1 món ăn nổi tiếng ở Việt Nam , sở hữu thứ nước "súp" ngon tuyệt đỉnh, khiến người ta mê ngay từ lần thử đầu....
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="explore-open-close-part">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <button class="close-btn" onclick="window.location.href='#'">Học Ngay</button>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="explore-map-icon">
                                                <a href="#"><i data-feather="message-circle"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Hết 1 món-->
                    <!--Bắt đầu 1 món-->
                    <div class=" col-md-4 col-sm-6">
                        <div class="single-explore-item">
                            <div class="single-explore-img">

                                <!--đây là ảnh-->
                                <img src="assets/assets_Recipe/images/food/food1.jpg" alt="explore image">

                                <div class="single-explore-img-info">
                                    <div class="single-explore-image-icon-box">
                                        <ul>
                                            <li>
                                                <div class="single-explore-image-icon">
                                                    <i class="fa fa-arrows-alt"></i>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="single-explore-image-icon">
                                                    <i class="fa fa-bookmark-o"></i>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-explore-txt bg-theme-1">
                                <h1><a href="#">Phở Bò</a></h1>
                                <div class="row"></div>
                                <div class="explore-person">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <p>
                                                1 món ăn nổi tiếng ở Việt Nam , sở hữu thứ nước "súp" ngon tuyệt đỉnh, khiến người ta mê ngay từ lần thử đầu....
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="explore-open-close-part">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <button class="close-btn" onclick="window.location.href='#'">Học Ngay</button>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="explore-map-icon">
                                                <a href="#"><i data-feather="message-circle"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Hết 1 món-->
                    <!--Bắt đầu 1 món-->
                    <div class=" col-md-4 col-sm-6">
                        <div class="single-explore-item">
                            <div class="single-explore-img">

                                <!--đây là ảnh-->
                                <img src="assets/assets_Recipe/images/food/food1.jpg" alt="explore image">

                                <div class="single-explore-img-info">
                                    <div class="single-explore-image-icon-box">
                                        <ul>
                                            <li>
                                                <div class="single-explore-image-icon">
                                                    <i class="fa fa-arrows-alt"></i>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="single-explore-image-icon">
                                                    <i class="fa fa-bookmark-o"></i>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-explore-txt bg-theme-1">
                                <h1><a href="#">Phở Bò</a></h1>
                                <div class="row"></div>
                                <div class="explore-person">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <p>
                                                1 món ăn nổi tiếng ở Việt Nam , sở hữu thứ nước "súp" ngon tuyệt đỉnh, khiến người ta mê ngay từ lần thử đầu....
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="explore-open-close-part">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <button class="close-btn" onclick="window.location.href='#'">Học Ngay</button>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="explore-map-icon">
                                                <a href="#"><i data-feather="message-circle"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Hết 1 món-->
                    <!--Bắt đầu 1 món-->
                    <div class=" col-md-4 col-sm-6">
                        <div class="single-explore-item">
                            <div class="single-explore-img">

                                <!--đây là ảnh-->
                                <img src="assets/assets_Recipe/images/food/food1.jpg" alt="explore image">

                                <div class="single-explore-img-info">
                                    <div class="single-explore-image-icon-box">
                                        <ul>
                                            <li>
                                                <div class="single-explore-image-icon">
                                                    <i class="fa fa-arrows-alt"></i>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="single-explore-image-icon">
                                                    <i class="fa fa-bookmark-o"></i>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-explore-txt bg-theme-1">
                                <h1><a href="#">Phở Bò</a></h1>
                                <div class="row"></div>
                                <div class="explore-person">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <p>
                                                1 món ăn nổi tiếng ở Việt Nam , sở hữu thứ nước "súp" ngon tuyệt đỉnh, khiến người ta mê ngay từ lần thử đầu....
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="explore-open-close-part">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <button class="close-btn" onclick="window.location.href='#'">Học Ngay</button>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="explore-map-icon">
                                                <a href="#"><i data-feather="message-circle"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Hết 1 món-->
                    <!--Bắt đầu 1 món-->
                    <div class=" col-md-4 col-sm-6">
                        <div class="single-explore-item">
                            <div class="single-explore-img">

                                <!--đây là ảnh-->
                                <img src="assets/assets_Recipe/images/food/food1.jpg" alt="explore image">

                                <div class="single-explore-img-info">
                                    <div class="single-explore-image-icon-box">
                                        <ul>
                                            <li>
                                                <div class="single-explore-image-icon">
                                                    <i class="fa fa-arrows-alt"></i>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="single-explore-image-icon">
                                                    <i class="fa fa-bookmark-o"></i>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-explore-txt bg-theme-1">
                                <h1><a href="#">Phở Bò</a></h1>
                                <div class="row"></div>
                                <div class="explore-person">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <p>
                                                1 món ăn nổi tiếng ở Việt Nam , sở hữu thứ nước "súp" ngon tuyệt đỉnh, khiến người ta mê ngay từ lần thử đầu....
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="explore-open-close-part">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <button class="close-btn" onclick="window.location.href='#'">Học Ngay</button>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="explore-map-icon">
                                                <a href="#"><i data-feather="message-circle"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Hết 1 món-->
                </div>
            </div>

            <div class="section-footer">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
            
        </div><!--/.container-->

    </section><!--/.explore-->
    <!--explore end -->

    <script src="assets/assets_Recipe/js_recipe/jquery.js"></script>

    <!--modernizr.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!--bootstrap.min.js-->
    <script src="assets/assets_Recipe/js_recipe/bootstrap.min.js"></script>

    <!-- bootsnav js -->
    <script src="assets/assets_Recipe/js_recipe/bootsnav.js"></script>

    <!--feather.min.js-->
    <script src="assets/assets_Recipe/js_recipe/feather.min.js"></script>

    <!-- counter js -->
    <script src="assets/assets_Recipe/js_recipe/jquery.counterup.min.js"></script>
    <script src="assets/assets_Recipe/js_recipe/waypoints.min.js"></script>

    <!--slick.min.js-->
    <script src="assets/assets_Recipe/js_recipe/slick.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!--Custom JS-->
    <script src="assets/assets_Recipe/js_recipe/custom.js"></script>




