
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main>
    <br />
    
    <section>

        <div class="container mt-5">
            

            <h1 class="mb-4">Câu hỏi thường gặp</h1>

            <!-- Search Bar -->
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-danger" style="margin-left:20px">Search</button>
                </div>
            </div>


            <div class="accordion" id="faqAccordion">
                <!-- Question 1 -->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Câu hỏi 1
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqAccordion">
                        <div class="card-body">
                            Trả lời : Thịt nướng món ăn được nhiều người yêu thích người.
                            Cuối tuần này bạn đang muốn chế biến món thịt nướng để chiêu đãi cả nhà, nhưng lại chưa biết cách ướp thịt nướng sao cho thơm ngon.
                            Hãy thử những công thức ướp thịt nướng dưới đây đảm bảo bạn sẽ có món thịt nướng cực hấp dẫn chiêu đãi cả nhà.
                        </div>
                    </div>
                </div>


                <!-- Question 2 -->
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Câu hỏi 2
                            </button>
                        </h2>
                    </div>

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqAccordion">
                        <div class="card-body">
                            Trả lời
                        </div>
                    </div>
                </div>


                <!-- Question 3 -->
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Câu hỏi 3
                            </button>
                        </h2>
                    </div>

                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqAccordion">
                        <div class="card-body">
                            Trả lời
                        </div>
                    </div>
                </div>


                <!-- Question 4 -->
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Câu hỏi 4
                            </button>
                        </h2>
                    </div>

                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqAccordion">
                        <div class="card-body">
                            Trả lời:
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </section>
</main>
<style>
    .button-btn btn-outline-secondary {
        text-decoration: underline;
        transition: background-color 0.3s;
    }

        .button-btn btn-outline-secondary:hover {
            background-color: red;
            color: white;
    }
</style>





