@{
    ViewBag.Title = "Home";


    if (Session["UserName"] == null)
    {
        // Khi chưa Login thì sử dụng Layout này
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        // Khi đã Login thì sử dụng Layout này
        Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
    }
}


@*@{
    ViewBag.Title = "Home";


    if (User.Identity.IsAuthenticated)
    {
        // Sau khi đã Login thì sử dụng Layout này
        Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
    }
    else
    {
        // Còn khi chưa Login thì sử dụng Layout này
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}*@



<main>
    <section id="hero" class="hero d-flex align-items-center section-bg">
        <div class="container">
            <div class="row justify-content-between gy-5">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                    <h2 data-aos="fade-up">Welcome to James's Recipe</h2>
                    <p data-aos="fade-up" data-aos-delay="100">Embark on a culinary journey with Chef James, where creativity meets flavor.</p>
                    <p data-aos="fade-up" data-aos-delay="200">Discover exquisite recipes, engage in exciting contests, and join our vibrant culinary community.</p>
                    <div class="d-flex" data-aos="fade-up" data-aos-delay="300">
                        <a href="#book-a-table" class="btn-book-a-table">Explore Recipes</a>
                        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center text-lg-start">
                    <img src="~/Assets/assets_Home/img/chefs/chefs-1.jpg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <h2 data-aos="fade-up">Hello, I'm James</h2>
                    <p data-aos="fade-up" data-aos-delay="100">As a passionate chef and the creator of James's Recipe, I welcome you to a world of culinary delight. My mission is to share not just recipes but experiences, stories, and a sense of community around the joy of cooking.</p>
                    <p data-aos="fade-up" data-aos-delay="200">Explore the diversity of flavors, participate in contests, and connect with fellow food enthusiasts. Let's embark on this flavorful journey together!</p>
                </div>
            </div>
        </div>
    </section>
</main>
