@model JamesThewDOTcom.Models.Customer

@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>

    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 text-center mb-5">
                <h1>Welcome to our platform!</h1>
                <p class="lead">Sign up to explore all the features and benefits.</p>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3 text-white bg-primary border-primary">
                        <h4 class="my-0 fw-normal">Monthly Subscription</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$10<small class="text-muted fw-light">/mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Unlimited users</li>
                            <li>5 GB of storage</li>
                            <li>Priority email support</li>
                            <li>Help center access</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-danger">Subscribe Now</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3 text-white bg-primary border-primary">
                        <h4 class="my-0 fw-normal">Yearly Subscription</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$100<small class="text-muted fw-light">/yr</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Unlimited users</li>
                            <li>10 GB of storage</li>
                            <li>Priority email support</li>
                            <li>Help center access</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-danger">Subscribe Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
