<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Sign Up</title>

</head>

<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    

</body>

</html>